.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wrap {
  h1 {
    font-size: 30px;
  }
}

.btns {
  display: flex;
  justify-content: center;
  button {
    padding: 10px 25px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    &:active {
      opacity: .5;
    }
    &:hover {
      background-color: blueviolet;
    }
  }

}
